* {
  background: hotpink;
  font-family: "Palatino", sans-serif;
}

.container {
  margin: 0 auto;
  max-width: 1280px;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 36px;
}

.form {
  display: grid;
  max-width: 500px;
  margin: 0 auto;
}

.label {
  font-size: 20px;
  margin-bottom: 20px;
}

.input,
.button {
  font-size: 16px;
  padding: 5px 20px;
  line-height: 28px;
  border-radius: 20px;
  margin-bottom: 10px;
  border: none;
}

.input {
  background-color: white;
}

.button {
  background-color: black;
  color: white;
  cursor: pointer;
  transition: background-color 250ms;
}

.input:focus,
.button:focus {
  outline: none;
}

.button:hover {
  background-color: lightpink;
}

.card-list {
  column-count: 3;
}

.card {
  display: inline-flex;
}

.card--image {
  flex: 100%;
  margin-top: 10px;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .card-list {
    column-count: 1;
  }
}
